/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/Header/Header.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__pXml_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

.Header_header__pXml_ a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.Header_header__pXml_ a:hover {
  color: #ddd;
}

.Header_navigation__PxQ99 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.Header_navigation__PxQ99 li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.Header_navigation__PxQ99 li a:hover {
  color: #ddd;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/Footer/Footer.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
/* components/Footer.module.css */

.Footer_footer__o4_Ec {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 14px;
  color: #555;
  border-top: 1px solid #ddd;
}

.Footer_wrap__2BxMc {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Footer_footer__o4_Ec a {
  color: #226ec5;
  font-weight: 600;
  text-decoration: none;
}

.Footer_footer__o4_Ec a:hover {
  text-decoration: underline;
}
